Rushikesh Chopade

Email: rushipc@gmail.com:

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
# step 1:  Load the Taxi Fare dataset
url_taxi_fare = "https://raw.githubusercontent.com/Premalatha-success/Datasets/main/TaxiFare.csv"
df = pd.read_csv(url_taxi_fare)

In [7]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [9]:
df.tail()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
49995,25:15.0,15.0,2013-06-12 23:25:15 UTC,-73.999973,40.748531,-74.016899,40.705993,1
49996,19:18.0,7.5,2015-06-22 17:19:18 UTC,-73.984756,40.768211,-73.987366,40.760597,1
49997,53:00.0,6.9,2011-01-30 04:53:00 UTC,-74.002698,40.739428,-73.998108,40.759483,1
49998,09:00.0,4.5,2012-11-06 07:09:00 UTC,-73.946062,40.777567,-73.953450,40.779687,2
49999,13:14.0,10.9,2010-01-13 08:13:14 UTC,-73.932603,40.763805,-73.932603,40.763805,1

In [23]:
# Step 2: Preprocess the dataset
df.shape

(50000, 8)

In [13]:
df.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

In [14]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [15]:
df.value_counts()

unique_id  amount  date_time_of_pickup      longitude_of_pickup  latitude_of_pickup  longitude_of_dropoff  latitude_of_dropoff  no_of_passenger
00:00.0    2.5     2010-08-27 19:00:00 UTC  -73.951742           40.784662           -73.951742            40.784662            1                  1
40:00.0    12.9    2012-02-13 13:40:00 UTC  -73.993555           40.762140           -73.952957            40.780652            1                  1
           11.0    2014-03-08 15:40:00 UTC  -73.986947           40.722247           -73.963332            40.711402            1                  1
           11.3    2010-12-04 09:40:00 UTC  -73.985585           40.758913           -74.003178            40.723160            1                  1
                   2011-12-22 15:40:00 UTC  -73.989913           40.775988           -73.970192            40.758538            2                  1
                                                                                                                                                  ..
20:00.0    9.0     2014-02-11 21:20:00 UTC  -73.998750           40.760520           -73.978910            40.761700            3                  1
                   2014-07-19 00:20:00 UTC  -74.007290           40.743187           -73.982908            40.765647            1                  1
                   2014-10-29 14:20:00 UTC  -74.002110           40.714942           -74.012682            40.706087            1                  1
           9.3     2009-04-19 08:20:00 UTC  -73.986945           40.729318           -74.002038            40.706913            1                  1
59:59.0    22.9    2011-11-27 14:59:59 UTC  -73.993063           40.757694           -73.927134            40.863821            1                  1
Length: 50000, dtype: int64

In [24]:
# Step 3: Split the dataset into features (X) and target (y)
X = df.drop(columns=['unique_id', 'amount', 'date_time_of_pickup'])
y = df['amount']

In [25]:
# Step 4: Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# Step 5: Create and train the machine learning model (Linear Regression)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [22]:
# Step 6: Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [26]:
# Step 6: Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [27]:
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 92.94908043573297
R-squared: 0.000234849812633664

In [34]:
# Step 7: Make predictions (optional)
new_longitude_pickup_value = -73.9800
new_latitude_pickup_value = 40.7488
new_longitude_dropoff_value = -74.0000
new_latitude_dropoff_value = 40.730
new_passenger_count = 20

# Create a new DataFrame with the new data
new_data = pd.DataFrame({
    'longitude_of_pickup': [new_longitude_pickup_value],
    'latitude_of_pickup': [new_latitude_pickup_value],
    'longitude_of_dropoff': [new_longitude_dropoff_value],
    'latitude_of_dropoff': [new_latitude_dropoff_value],
    'no_of_passenger': [new_passenger_count]
})

In [35]:
predicted_fare = model.predict(new_data)

print("Predicted Fare:", predicted_fare[0])

Predicted Fare: 13.831242926908299